<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>maurya</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PatientPortalToolkitModuleActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>

	<privilege>
		<name>App: patientportaltoolkit</name>
		<description>Access Patient Portal Toolkit app</description>
	</privilege>

	<filter>
		<filter-name>Patient Portal Web Service Authorization</filter-name>
		<filter-class>org.openmrs.module.patientportaltoolkit.web.filter.AuthorizationFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Patient Portal Web Service Authorization</filter-name>
		<url-pattern>/ws/patientportaltoolkit/*</url-pattern>
	</filter-mapping>
	<require_modules>
		<require_module>
			org.openmrs.module.uiframework
		</require_module>
	</require_modules>

	<!-- Global Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.symptommanagementURL</property>
		<defaultValue>https://portal.nursing.iupui.edu/o_portal/index.php?seq=_003_001</defaultValue>
		<description>URL for accessing the Symptom Management Portal</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.symptommanagementUsername</property>
		<defaultValue>omrs_client_0001</defaultValue>
		<description>Username for allowing OpenMRS to log into the Symptom Management Portal</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.symptommanagementPassword</property>
		<defaultValue>project*Connector-909</defaultValue>
		<description>Password for allowing OpenMRS to log into the Symptom Management Portal</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.contactUsEmail</property>
		<defaultValue>maurya@openmrs.org</defaultValue>
		<description>Email to send contact us responses</description>
	</globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.contactUsFromEmail</property>
        <defaultValue>kummamuru.srimaurya@gmail.com</defaultValue>
        <description>Email to send from the contact us responses</description>
    </globalProperty>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		JournalEntry.hbm.xml
		PatientPortalRelation.hbm.xml
		PatientPortalForm.hbm.xml
		SideEffect.hbm.xml
		Guideline.hbm.xml
		Reminder.hbm.xml
		Message.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

