<?xml version="1.0" encoding="UTF-8"?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>maurya, uladkasach</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PatientPortalToolkitModuleActivator</activator>
	
	
	<!-- Adds link to admin page -->

	<privilege>
		<name>App: patientportaltoolkit</name>
		<description>Access Patient Portal Toolkit app</description>
	</privilege>

	<filter>
		<filter-name>Patient Portal Web Service Authorization</filter-name>
		<filter-class>org.openmrs.module.patientportaltoolkit.web.filter.AuthorizationFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Patient Portal Web Service Authorization</filter-name>
		<url-pattern>/ws/patientportaltoolkit/*</url-pattern>
	</filter-mapping>
	<require_modules>
		<require_module>org.openmrs.module.uiframework</require_module>
		<require_module version="${webservices.restVersion}">org.openmrs.module.webservices.rest</require_module>
		<require_module version="1.0-SNAPSHOT">org.openmrs.module.simpleformservice</require_module>
	</require_modules>
	<!-- Global Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.symptommanagementURL</property>
		<defaultValue>https://personalcancertoolkit.org/symptom-management?seq=_003_001</defaultValue>
		<description>URL for accessing the Symptom Management Portal</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.symptommanagementUsername</property>
		<defaultValue>omrs_client_0001</defaultValue>
		<description>Username for allowing OpenMRS to log into the Symptom Management Portal</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.symptommanagementPassword</property>
		<defaultValue>project*Connector-909</defaultValue>
		<description>Password for allowing OpenMRS to log into the Symptom Management Portal</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.contactUsEmail</property>
		<defaultValue>PleaseSetThisToContactUs:Email</defaultValue>
		<description>Email to send contact us responses</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.communities_map_APIKEY</property>
		<defaultValue>PleaseSetThisToValidGoogleAPIKey</defaultValue>
		<description>APIKey for the Map to work in PatientPortal</description>
	</globalProperty>

	<!--<globalProperty>
        <property>${project.parent.artifactId}.contactUsFromEmail</property>
        <defaultValue>kummamuru.srimaurya@gmail.com</defaultValue>
        <description>Email to send from the contact us responses</description>
    </globalProperty>-->

	<globalProperty>
		<property>${project.parent.artifactId}.sendingEmail</property>
		<defaultValue>PleaseSetThisValue</defaultValue>
		<description>Email to send information messages from</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.sendingEmailPassword</property>
		<defaultValue>pleaseSetThisValue</defaultValue>
		<description>Password for the Sending Email</description>
	</globalProperty>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		JournalEntry.hbm.xml
		PatientPortalRelation.hbm.xml
		PatientPortalForm.hbm.xml
		SideEffect.hbm.xml
		Guideline.hbm.xml
		GuidelineConditionSet.hbm.xml
		GuidelineInterval.hbm.xml
		Reminder.hbm.xml
		Message.hbm.xml
		SecurityLayer.hbm.xml
		PersonPreferences.hbm.xml
		PreventativeCareEvent.hbm.xml
		PreventativeCareRule.hbm.xml
		PreventiveCareGuideline.hbm.xml
		PreventiveCareGuidelineInterval.hbm.xml
		PatientPortalPersonAttributes.hbm.xml
		PasswordChangeRequest.hbm.xml
		PatientPortalShare.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

